# =========================
# Spring Boot / Java
# =========================
*.class
*.jar
*.war
*.log
*.tmp

# Maven / Gradle
target/
build/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Boot / Sensitive
application.properties
application.yml

# =========================
# Eclipse / STS
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================
# IntelliJ IDEA
# =========================
.idea
*.iws
*.iml
*.ipr

# =========================
# NetBeans
# nbproject/private/
# /nbbuild/
# /dist/
# /nbdist/
# /.nb-gradle/
# build/ (already included above)

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS / System files
# =========================
.DS_Store
Thumbs.db
