<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

   <div th:fragment="toast">

    <div id="toast"
         th:if="${successMsg != null or errorMsg != null}"
         class="ap-toast"
         th:classappend="${successMsg} ? 'ap-toast-success show' : 'ap-toast-error show'">

        <i th:if="${successMsg}" class="bi bi-check-circle-fill"></i>
        <i th:if="${errorMsg}" class="bi bi-x-circle-fill"></i>

        <span th:text="${successMsg != null ? successMsg : errorMsg}"></span>

    </div>

</div>
   
  
   
   
   
</body>
</html>

